<a href="/">Go Back</a>
<h1>{{project.title}}</h1>
<div class="row">
<div class="large-6 columns">
	<img class="responsive-embed" src="/images/portfolio/{{project.image}}">
</div>
<div class="large-6 columns">
	<ul>
		<li><strong>Project: </strong>{{project.title}}</li>
		<li><strong>App: </strong>{{project.appname}}</li>
		<li><strong>Purpose: </strong>{{project.purpose}}</li>
		<li><strong>Date: </strong>{{project.date}}</li>
	</ul>
	<hr />
	<p>{{project.description}}</p>
	<br />
	<a href="{{project.url}}">Visit Website</a>
</div>
</div>